<div class="flex justify-between items-center mb-4">
  <h1 class="text-xl font-bold">Transactions</h1>

  <button
    type="button"
    class="bg-black text-white p-1 rounded cursor-pointer"
    (click)="openModal()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="#ffffff"
      viewBox="0 0 24 24"
    >
      <path
        d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2M5 19V5h14v14z"
      ></path>
      <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4z"></path>
    </svg>
  </button>
</div>

@if (transactions(); as transactions) {
<div class="relative overflow-x-auto">
  <table class="w-full text-left divide-y divide-gray-200">
    <thead class="bg-gray-50 text-xs uppercase">
      <th scope="col" class="px-6 py-3">Date</th>
      <th scope="col" class="px-6 py-3">Category</th>
      <th scope="col" class="px-6 py-3">Amount</th>
      <th scope="col" class="px-6 py-3">Actions</th>
    </thead>
    <tbody class="divide-y divide-gray-200">
      @for (transaction of transactions; track transaction.id) {
      <tr>
        <td scope="row" class="px-6 py-4 whitespace-nowrap">
          {{ transaction.date }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap">{{ transaction.category.name }}</td>
        <td class="px-6 py-4 whitespace-nowrap">
          <span [class]="transaction.type === Type.INCOME ? 'text-green-600' : 'text-red-600'">
            {{ transaction.type === Type.INCOME ? '+' : '-' }}{{ transaction.amount }}
          </span>
        </td>
        <td class="px-6 py-4">
          <div class="flex items-center gap-x-4">
            <button
              type="button"
              (click)="openModal(transaction)"
              class="cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                fill="#000000"
                viewBox="0 0 24 24"
              >
                <path
                  d="M5 21h14c1.1 0 2-.9 2-2v-7h-2v7H5V5h7V3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2"
                ></path>
                <path
                  d="M7 13v3c0 .55.45 1 1 1h3c.27 0 .52-.11.71-.29l9-9a.996.996 0 0 0 0-1.41l-3-3a.996.996 0 0 0-1.41 0l-9.01 8.99A1 1 0 0 0 7 13m10-7.59L18.59 7 17.5 8.09 15.91 6.5zm-8 8 5.5-5.5 1.59 1.59-5.5 5.5H9z"
                ></path>
              </svg>
            </button>

            <button
              type="button"
              (click)="openConfirmationModal(transaction)"
              class="cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                fill="#000000"
                viewBox="0 0 24 24"
              >
                <path
                  d="M17 6V4c0-1.1-.9-2-2-2H9c-1.1 0-2 .9-2 2v2H2v2h2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8h2V6zM9 4h6v2H9zM6 20V8h12v12z"
                ></path>
                <path d="M9 10h2v8H9zM13 10h2v8h-2z"></path>
              </svg>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
}

@if (isModalOpen()) {
<div class="fixed inset-0 bg-black/25 flex items-center justify-center z-50">
  <div class="bg-white rounded p-6 w-full max-w-md mx-4">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-semibold">Transaction</h2>
      <button type="button" class="cursor-pointer" (click)="closeModal()">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
    </div>

    <app-transaction-form
      (transactionSubmit)="onTransactionSubmit($event)"
      [transaction]="transaction()"
    />
  </div>
</div>
}

@if (isConfirmationModalOpen()) {
<div class="fixed inset-0 bg-black/25 flex items-center justify-center z-50">
  <div class="bg-white rounded p-6 w-full max-w-md mx-4">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-semibold">Transaction deletion</h2>
      <button
        type="button"
        class="cursor-pointer"
        (click)="closeConfirmationModal()"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
    </div>

    <p class="mb-5">Are you sure you want to delete this transaction?</p>

    <button
      type="button"
      class="bg-red-500 text-white px-4 py-2 rounded w-full cursor-pointer uppercase font-bold"
      (click)="confirmDeletion()"
    >
      Delete
    </button>
  </div>
</div>
}
