<div class="flex justify-between items-center mb-4">
  <h1 class="text-xl font-bold">Transactions</h1>

  <button
    type="button"
    class="bg-black text-white p-1 rounded cursor-pointer"
    (click)="openCreationModal()"
  >
    <i-lucide [img]="PlusIcon" [size]="18"></i-lucide>
  </button>
</div>

@if (transactions(); as transactions) {
<div class="relative overflow-x-auto">
  <table class="w-full text-left divide-y divide-gray-200">
    <thead class="bg-gray-50 text-xs uppercase">
      <th scope="col" class="px-6 py-3">Date</th>
      <th scope="col" class="px-6 py-3">Category</th>
      <th scope="col" class="px-6 py-3">Amount</th>
      <th scope="col" class="px-6 py-3">Actions</th>
    </thead>
    <tbody class="divide-y divide-gray-200">
      @for (transaction of transactions.data; track transaction.id) {
      <tr>
        <td scope="row" class="px-6 py-4 whitespace-nowrap">
          {{ transaction.date }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          {{ transaction.category.name }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <span
            [class]="transaction.type === Type.INCOME ? 'text-green-600' : 'text-red-600'"
          >
            {{ transaction.type === Type.INCOME ? '+' : '-' }}{{
            transaction.amount }}
          </span>
        </td>
        <td class="px-6 py-4">
          <div class="flex items-center gap-x-4">
            <button
              type="button"
              (click)="openCreationModal(transaction)"
              class="cursor-pointer"
            >
              <i-lucide [img]="SquarePenIcon" [size]="18"></i-lucide>
            </button>

            <button
              type="button"
              (click)="openConfirmationModal(transaction)"
              class="cursor-pointer"
            >
              <i-lucide [img]="Trash2Icon" [size]="18"></i-lucide>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<app-pagination
  [meta]="transactions.meta"
  [links]="transactions.links"
  (pageChange)="onPageChange($event)"
/>
}

@if (isCreationModalOpen()) {
<app-modal
  [title]="transaction() ? 'Edit Transaction' : 'New Transaction'"
  [confirmText]="'Save'"
  [cancelText]="'Cancel'"
  (confirmed)="confirmCreation()"
  (cancelled)="closeCreationModal()"
  (closed)="closeCreationModal()"
>
  <app-transaction-form
    #transactionForm
    (transactionSubmit)="onTransactionSubmit($event)"
    [transaction]="transaction()"
  />
</app-modal>
}

@if (isConfirmationModalOpen()) {
<app-modal
  [title]="'Delete Transaction'"
  [confirmText]="'Delete'"
  [cancelText]="'Cancel'"
  (confirmed)="confirmDeletion()"
  (cancelled)="closeConfirmationModal()"
  (closed)="closeConfirmationModal()"
>
  <p>Are you sure you want to delete this transaction?</p>
</app-modal>
}
