@use 'primeicons/primeicons.css';

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: normal;
  font-weight: 400;
}

body {
  background-color: var(--p-surface-50);
  min-height: 100vh;
}
