<form
  [formGroup]="categoryForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-y-5"
>
  <div class="flex flex-col gap-1">
    <label for="name">Name</label>
    <input
      formControlName="name"
      type="text"
      id="name"
      placeholder="Your category name"
      required
      minlength="2"
      maxlength="255"
      class="border border-gray-300 rounded px-2.5 py-1 placeholder:text-gray-400 placeholder:text-sm"
      [class.border-red-500]="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched"
    />
    @if (categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched) {
      <div class="text-red-500 text-sm">
        @if (categoryForm.get('name')?.errors?.['required']) {
          <span>Name is required</span>
        }
        @if (categoryForm.get('name')?.errors?.['minlength']) {
          <span>Name must be at least 2 characters</span>
        }
        @if (categoryForm.get('name')?.errors?.['maxlength']) {
          <span>Name must not exceed 255 characters</span>
        }
      </div>
    }
  </div>

  <div>
    <button
      type="submit"
      class="bg-black text-white px-2.5 py-1 rounded w-full cursor-pointer"
    >
      Save
    </button>
  </div>
</form>
